@use "night-owl.scss";
@use "my_slides/colors.scss";
@use "my_slides/sizes.scss";

.slides.slides-mine {
  * {
    font-family: "Public Sans";
    line-height: 1.2;
  }

  pre.code-wrapper {
    background: var(--color-darkest);
    color: var(--text-light);
  }

  // Sections are inserted by reveal.js
  section {
    background: white;
    position: fixed;
    top: calc((100vh - var(--real-slide-height)) / 2);
    left: calc((100vw - var(--real-slide-width)) / 2);
    height: calc(var(--real-slide-height) - 2rem);
    width: calc(var(--real-slide-width) - 2rem);
    padding: 1rem;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--color-medium);

    .line-height-15 {
      line-height: 1.5;
    }

    strong {
      font-weight: 700;
    }

    .left {
      text-align: left;
    }

    pre {
      overflow-y: scroll;
    }

    p {
      margin-bottom: 2rem;
    }

    ul {
      column-count: 2;
      margin-left: 2rem;
      margin-bottom: 2rem;
      li + li {
        margin-top: 0.5rem;
      }
    }

    &.title {
      background: var(--color-darkest);
      color: var(--color-bright);

      h1 {
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--text-light);
        margin-bottom: 1rem;
      }

      a,
      a:visited {
        color: var(--text-bright);
        text-decoration: none;
        border-bottom: 3px dotted white;

        &:hover {
          color: var(--text-light);
        }
      }
    }

    // These sections are just a slide type. The
    // class name is set in the markdown.
    &.section {
      background: var(--color-bright);
      color: var(--color-darkest);

      a,
      a:visited {
        color: var(--text-light);
        background: var(--color-darkest);
        text-decoration: none;
        border-bottom: 3px dotted white;

        &:hover {
          color: var(--color-bright);
        }
      }

      h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        max-width: 70vw;
      }

      p {
        margin-bottom: 2rem;
        width: 60vw;
      }
    }

    &.content {
      justify-content: start;
      align-items: start;
      color: var(--text-dark);

      h1,
      h2 {
        align-self: start;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-medium);
        margin-bottom: 1rem;
      }

      & .center {
        align-self: center;
      }

      img {
        max-width: 10rem;

        &.big {
          max-width: 30rem;
          max-height: 20rem;
        }
      }
    }

    &.summary {
      p {
        padding: 0 20vw;
        text-align: center;
      }
    }

    &.four-dots {
      align-items: start;
      justify-content: start;
      text-align: left;

      ul {
        margin-left: 0;
        column-count: 2;
        column-gap: 1rem;
        list-style-type: none;

        li {
          break-inside: avoid-column;
          text-align: left;
          margin-left: 3rem;
          color: var(--text-dark);
          font-size: 1rem;
          position: relative;

          h2 {
            font-weight: 700;
            color: var(--color-medium);
            font-size: 1.5rem;
            margin-bottom: 0;
          }

          &:before {
            position: absolute;
            font-size: 4rem;
            top: -1.5rem;
            left: -3rem;
            color: var(--color-bright);
            content: "⏺";
          }
        }
      }
    }
  }
}
